services:
  - type: web
    name: mpkosis-backend
    env: node
    plan: free
    buildCommand: cd backend && npm install
    startCommand: node backend/server.js
    envVars:
      - key: NODE_VERSION
        value: 18
